<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 INDIA</title>
    <link rel = "small icon" href="images/images.jpg">
    <link rel = "stylesheet" href="style.css">
</head>
<body>
    <img src = "images/IMG_20200717_113603.jpg">
    <img src = "images/IMG_20200717_113603.jpg">
    <img src = "images/IMG_20200717_113603.jpg">
    <div class="cont">
        <b></b>
    <h2>Select your State and see the COVID-19 Cases of all the districts in your state</h2>
    <select name = "States" id="state">
    </select>
    <input type = "Submit" id="sub" value="Search">
    <p>{{Err}}</p>
    </div>
    <div id = "table">
        <table border="1px">
            <thead>
                <th>Active</th>
                <th>Confirmed</th>
                <th>Recover</th>
                <th>Death</th>
            </thead>
            <tbody>
                <td><b>{{Act}}</b></td>
                <td><b>{{Con}}</b></td>
                <td><b>{{Rec}}</b></td>
                <td><b>{{Dea}}</b></td>
            </tbody>
        </table>
        </div>
        <div id="table1">
            <table id = "tab" "table1" border="2px solid">
                <thead>
                    <th>District</th>
                    <th>Active</th>
                    <th>Confirmed</th>
                    <th>Recover</th>
                    <th>Death</th>
                    <th><p>Increase in</p><p>Confirmed cases</p></th>
                    <th><p>Increase in</p><p>Recover</p></th>
                    <th><p>Increase in</p><p>Death</p></th>
                </thead>
                <tbody id = "row">
                </tbody>
            </table>
           </div>
        </div>
        <script src="function.js"></script>
    </body>
</html>