<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 INDIA</title>
    <link rel = "small icon" href="images/images.jpg">
    <link rel = "stylesheet" href="style.css">
</head>
<body>
    <img src = "images/IMG_20200717_113603.jpg">
    <img src = "images/IMG_20200717_113603.jpg">
    <img src = "images/IMG_20200717_113603.jpg">
    <div class="cont">
        <b></b>
    <h2>Select your State and see the COVID-19 Cases of all the districts in your state</h2>
    <select name = "States" id="state">
        <option value = "Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
        <option value = "Andhra Pradesh">Andhra Pradesh</option>
        <option value = "Arunachal Pradesh">Arunachal Pradesh</option>
        <option value = "Assam">Assam</option>
        <option value = "Bihar">Bihar</option>
        <option value = "Chandigarh">Chandigarh</option>
        <option value = "Chhattisgarh">Chhattisgarh</option>
        <option value = "Delhi">Delhi</option>
        <option value = "Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
        <option value = "Goa">Goa</option>
        <option value = "Gujarat">Gujarat</option>
        <option value = "Himachal Pradesh">Himachal Pradesh</option>
        <option value = "Haryana">Haryana</option>
        <option value = "Jharkhand">Jharkhand</option>
        <option value = "Jammu and Kashmir">Jammu and Kashmir</option>
        <option value = "Karnataka">Karnataka</option>
        <option value = "Kerala">Kerala</option>
        <option value = "Ladakh">Ladakh</option>
        <option value = "Lakshadweep">Lakshadweep</option>
        <option value = "Maharashtra">Maharashtra</option>
        <option value = "Meghalaya">Meghalaya</option>
        <option value = "Manipur">Manipur</option>
        <option value = "Madhya Pradesh">Madhya Pradesh</option>
        <option value = "Mizoram">Mizoram</option>
        <option value = "Nagaland">Nagaland</option>
        <option value = "Odisha">Odisha</option>
        <option value = "Punjab">Punjab</option>
        <option value = "Puducherry">Puducherry</option>
        <option value = "Rajasthan">Rajasthan</option>
        <option value = "Sikkim">Sikkim</option>
        <option value = "Telangana">Telangana</option>
        <option value = "Tamil Nadu">Tamil Nadu</option>       
        <option value = "Tripura">Tripura</option>
        <option value = "Uttar Pradesh">Uttar Pradesh</option>
        <option value = "Uttarakhand">Uttarakhand</option>
        <option value = "West Bengal">West Bengal</option>
    </select>
    <input type = "Submit" id="sub" value="Search">
    <p>{{Err}}</p>
    </div>
    <div id = "table">
        <table border="1px">
            <thead>
                <th>Active</th>
                <th>Confirmed</th>
                <th>Recover</th>
                <th>Death</th>
            </thead>
            <tbody>
                <td><b>{{Act}}</b></td>
                <td><b>{{Con}}</b></td>
                <td><b>{{Rec}}</b></td>
                <td><b>{{Dea}}</b></td>
            </tbody>
        </table>
        </div>
        <div id="table1">
            <table id = "tab" "table1" border="2px solid">
                <thead>
                    <th>District</th>
                    <th>Active</th>
                    <th>Confirmed</th>
                    <th>Recover</th>
                    <th>Death</th>
                    <th><p>Increase in</p><p>Confirmed cases</p></th>
                    <th><p>Increase in</p><p>Recover</p></th>
                    <th><p>Increase in</p><p>Death</p></th>
                </thead>
                <tbody id = "row">
                </tbody>
            </table>
           </div>
        </div>
        <script src="function.js"></script>
    </body>
</html>